<div class="hero-unit span10 offset1">

  <h1>Loren ipsum sit dolor amet</h1>

  <p>Because YWAM deserves its own dummy text...</p>

</div>

<% @websites.each do |website| %>

  <p><%=website.url%></p>

<% end %>